<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>AI Maze Solver</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h1>AI Maze Solver</h1>

  <div id="controls">
    <select id="algoSelect">
      <option value="astar">A* </option>
      <option value="bfs">BFS</option>
    </select>

    <button id="generateBtn">Generate Maze</button>
    <button id="solveBtn">Solve Maze</button>
    
  </div>

  <canvas id="mazeCanvas"></canvas>

  <script src="../static/script.js"></script>
</body>
</html>

